* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  background-color: #313638;
}

h1 {
  color: #e8e9eb;
  font-family: "Alegreya Sans SC", sans-serif;
}

input:focus {
  outline: none;
}
